body{
    background: url(../images/breaking_bad.jpg);
    background-position: center;
	background-attachment: fixed;
	-webkit-background-size: cover; 
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
#container{
    padding: 15px;
    background: rgba(0, 0, 0, 0.363);
    color: blanchedalmond;
    width: 350px;
}
h1{
    font-size: 60px;
    text-decoration: none;
    text-align: center;
}
h2{
    background: rgba(84, 196, 162, 0.514);
    text-decoration: none;
    border-radius: 5px;
    color: black;
    text-align: center;
}
a{
    color: rgb(255, 251, 0);
    text-decoration: none;
}
img{
    width: 20%;
    padding-right: 40px;
}